<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #f8f9fa;
      }
      .card {
        border: none;
        transition: transform 0.2s;
      }
      .card:hover {
        transform: scale(1.05);
      }
      .card-title {
        font-size: 1.25rem;
        margin-top: 0.5rem;
      }
      .card-text {
        font-size: 1rem;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Product List</h1>
      <div class="row">
        <% products.forEach(function(product) { %>

        <div class="col-md-4 mb-4">
          <a href="#" class="card-link">
            <div class="card">
              <img src='<%= product.image %>'' class="card-img-top" alt="Product
              1" />
              <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text">$<%= product.price %></p>
              </div>
            </div>
          </a>
        </div>
        <% }); %>
        <!-- Add more product cards here -->
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
